extends shared/layout

block title
    title JobApplications | Home

block content
    div.jumbotron
        h1.text-center Welcome to JobApplications!
    div.panel.panel-default
        div.panel-body
            div.text-center.lead
                p Looking for a place to save record of Your job applications? You have found it &#x263a;
                p
                    | We offer unlimited space and privacy. Only You have access to Your account.
                    | We don't track You. We don't collect any personal details about You.
                    | We don't share any single piece of Your information.
                p And, yeah, it's free.
                a.btn.btn-primary.btn-lg(href="/users/register") Register
