extends ../shared/layout

block content
    div.panel.panel-danger
        div.panel-heading
            h2 Page not found
        div.panel-body.
            The requested page does not exist. Check the address and try again.
        div.panel-footer
            small
                | Back to &nbsp;
                a(href="/") Home
