extends ../shared/layout

block content
    h1 Job applications
    br

    form.form-horizontal(role="form")
        div.form-group
            div.col-xs-6.col-sm-6.col-md-6.col-sm-offset-2.col-md-offset-2
                input#tbxSearch.form-control(name="search", placeholder="Search in position and company")
            div.col-xs-3.col-sm-3.col-md-2
                //button#btnSubmit.btn.btn-primary.form-control(type="submit") Search
                a#btnSubmit.btn.btn-primary(href="/applications?search=") Search
        br
        include ./_applicationsTable.jade

block scripts
    script.
        $('#btnSubmit').on('click', function () {
            $(this).prop('href', '/applications?search=' + $('#tbxSearch').val());
            return false;
        });
