extends ../shared/layout

block content
    h1 Job applications
    br

    div.row
        input#tbxPage(type="hidden", name="page", value="0")
        div.col-xs-6.col-sm-6.col-md-6.col-sm-offset-2.col-md-offset-2
            input#tbxSearch.form-control(name="search", placeholder="Search in position and company")
        div.col-xs-3.col-sm-3.col-md-2
            button#btnSearch.btn.btn-primary Search
    br

    div#table
        include _applicationsTable

block scripts
    script.
        $('#btnSearch').on('click', function () {
            $('#tbxPage').val(0);
            update();
            return false;
        });

        $('#table').on('click', 'ul.pagination a', function () {
            $('#tbxPage').val($(this).data('page'));
            update();
            return false;
        });

        function update() {
            var query = $('#tbxPage, #tbxSearch').serialize();

            $.get('/applications/update?', query, function (data) {
                $('#table').html(data);
            })
                    .fail(function () {
                        $('#table').html('<div class="alert alert-danger">Failed to load content</div>');
                    });
        }
